@import '../../styles/global.css';

.searchingbar__container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 1rem;
  width: 100%;
}

.searchingbar__item {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
}

.searchingbar__input {
  width: 100%;
  border: none;
  padding: 0.5rem;
  outline: none;
  border: none;
}

.searchingbar__input::placeholder {
  color: #00000090;
  font-size: 1rem;
}

.searchingbar__results {
  font-size: 0.8rem;
}

.searchingbar__input::placeholder,
.searchingbar__results {
  text-transform: uppercase;
}
