@import '../../styles/global.css';

.card {
  position: relative;
  height: 15.32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.card .card__content h3 {
  color: var(--primary-color);
}

.card::before {
  content: '';
  position: absolute;
  top: -30%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--terciary-color);
}

.card--slideOut::before {
  animation-name: slideOut;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.card:hover::before,
.card:focus::before {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    top: -30%;
  }
  to {
    top: 0;
  }
}

@keyframes slideOut {
  from {
    top: 0;
  }
  to {
    top: -30%;
  }
}

.card__img {
  min-height: 11.375rem;
  z-index: 5;
}

.card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__content {
  position: relative;
  height: 7rem;
  max-height: 4rem;
  padding: 1rem;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid var(--terciary-color);
}

.card__content::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border-width: 15px 15px 0 0;
  border-style: solid;
  border-color: transparent var(--primary-color) transparent transparent;
}

.card__content h4 {
  flex: 1;
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
}
