@import '../../../styles/global.css';

.scroll-bar__container {
  width: 100%;
  height: 5px;
  background-color: var(--bg-color);
  margin-top: 30px;
}

.scroll-bar {
  height: 200%;
  background-color: var(--terciary-color);
}
