
.comics__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 65vh;
}

.comic__details {
  width: 64%;
}

.comic__details h2 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  padding: 0;
}