@import '../../styles/global.css';

.header {
  width: 100%;
  height: 100px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}

.header svg {
  cursor: pointer;
}

.header__favourite {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
}