@import '../styles/global.css';

main {
  max-width: 1500px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 95vh;
  background-color: var(--primary-color);
}
